@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-gray-950 text-gray-100;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

.animate-flash {
  animation: flash 0.8s ease-in-out infinite;
}
